---
import Layout from "@/layouts/Layout.astro";
import { getElement, Geolocation, findGeolocationData } from "@stoati/astro";

const element = await getElement("location");

const loc = findGeolocationData(element[0], "location") ?? { lat: 0, lon: 0 };
---

<Layout>
  <main class="flex flex-col md:justify-center gap-8 items-center pt-8 px-4">
    <Geolocation code="location#location" />
    <a
      href={`https://www.google.com/maps/place/${loc.lat}+${loc.lon}`}
      target="_blank">Google Maps</a
    >
    <a
      href={`http://www.openstreetmap.org/?mlat=${loc.lat}&mlon=${loc.lon}&zoom=16`}
      target="_blank">Openstreetmap</a
    >
  </main>
</Layout>
