---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "./ContactForm.tsx";
import { LiveText } from "@stoati/astro";
---

<script>
  import("altcha");
</script>
<Layout>
  <div class="flex flex-col justify-center items-center w-screen flex-1 px-2">
    <h1 class="text-xl font-semibold pb-4">Nous contacter</h1>
    <span><LiveText code="contact#phone" /></span>
    <span><LiveText code="contact#mail" /></span>
    <ContactForm client:visible />
  </div>
</Layout>
