---
import Layout from "@/layouts/Layout.astro";
import { Schedule } from "@stoati/astro";
---

<Layout>
  <main class="flex flex-col md:justify-center gap-8 items-center pt-8 px-4">
    <h1 class="text-xl font-bold">Nos horaires</h1>
    <Schedule code="schedule#schedule" />
  </main>
</Layout>
