---
import Menu from "@/components/Menu/Menu.astro";

import "../styles/globals.css";
import {
  findAssetAttribute,
  getElement,
  findTextAttribute,
  findMarkdownAttribute,
} from "@stoati/astro";

const data = await getElement("homepage");

const favicon = findAssetAttribute(data[0].data, "mainAsset");
const description = findMarkdownAttribute(data[0].data, "presentation");
const name = findTextAttribute(data[0].data, "name");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description?.data.markdown} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href={favicon?.data.url} />
    <meta name="generator" content={Astro.generator} />
    <title>{name}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <div class="pt-4 w-full">
      <Menu />
    </div>
    <slot />
  </body>
</html>
